<% layout('./layouts/boilerplate.ejs') %>
    <div class="alert alert-danger container w-50 mt-3" role="alert">
        <h4 class="alert-heading">
            <%=err.message%>
        </h4>
   
    </div>